.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.textCenter {
  text-align: center;
}
.textJustify {
  text-align: justify;
}
.textRight {
  text-align: right;
}
.textLeft {
  text-align: left;
}
.upperCase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.perHalf {
  width: 49%;
}
.tableDiv {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
.tableCell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  float: none;
}
.tableRow {
  display: table-row;
  vertical-align: middle;
}
.backgroundImage {
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}
@font-face {
  font-family: 'PM';
  src: url('fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Regular.woff') format('woff'), url('fonts/ProximaNova-Regular.ttf') format('truetype'), url('fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PMSBold';
  src: url('fonts/ProximaNovaSemibold.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNovaSemibold.woff') format('woff'), url('fonts/ProximaNovaSemibold.ttf') format('truetype'), url('fonts/ProximaNovaSemibold.svg#ProximaNovaSemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PMLight';
  src: url('fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('fonts/ProximaNova-Light.woff') format('woff'), url('fonts/ProximaNova-Light.ttf') format('truetype'), url('fonts/ProximaNova-Light.svg#ProximaNova-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PMBold';
  src: url('fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova-bold-webfont.woff') format('woff'), url('fonts/proximanova-bold-webfont.ttf') format('truetype'), url('fonts/proximanova-bold-webfont.svg#proximanova-bold-webfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
.contentWrapper {
  width: 980px;
  margin: 0 auto;
  border: 1px solid #cccccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.contentWrapper * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contentWrapper .contentBreadCrumbs {
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  float: left;
  width: 100%;
}
.contentWrapper .contentBreadCrumbs a {
  display: inline-block;
  color: #545454;
  font: 14px/19px 'PM';
  text-decoration: none;
  margin-right: 15px;
}
.contentWrapper .contentBreadCrumbs a span {
  position: relative;
}
.contentWrapper .contentBreadCrumbs a span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: #d4d4d4;
}
.contentWrapper .contentBreadCrumbs a:after {
  content: '>';
  margin: 0 0 0 15px;
}
.contentWrapper .contentBreadCrumbs span {
  color: #545454;
  font: 14px/19px 'PM';
  display: inline-block;
  position: relative;
}
.contentWrapper .contentBreadCrumbs span:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 100%;
  height: 1px;
  background: #d4d4d4;
}
.contentWrapper .contentTitle {
  font: 23px/26px 'PMSBold';
  color: #545454;
  padding: 20px 200px 20px 90px;
  position: relative;
  float: left;
  width: 100%;
}
.contentWrapper .contentTitle .contentTitleImage {
  position: absolute;
  width: 90px;
  left: 0;
  top: 0;
  height: 100%;
}
.contentWrapper .contentTitle .contentTitleImage img {
  position: absolute;
  left: 50%;
  top: 50%;
  max-width: 52px;
  max-height: 52px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contentWrapper .contentTitle .changeRide {
  width: 200px;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 0 20px;
}
.contentWrapper .contentTitle .changeRide .changeFilter {
  font: 13px/40px 'PM';
  width: 100%;
  padding: 0 40px 0 15px;
  height: 40px;
  background: #faf6ea;
  position: relative;
  border: 1px solid #cccccc;
  cursor: pointer;
}
.contentWrapper .contentTitle .changeRide .changeFilter:after {
  width: 40px;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: url("../img/filter-arrow-bottom.png") no-repeat center center;
}
.contentWrapper .contentTitle .changeRide .changeFilter.active:after {
  -webkit-transform: rotateZ(180deg);
  -moz-transform: rotateZ(180deg);
  -ms-transform: rotateZ(180deg);
  -o-transform: rotateZ(180deg);
  transform: rotateZ(180deg);
}
.contentWrapper .contentTitle .changeRide .changeDropDown {
  background: #faf6eb;
  border: 1px solid #cccccc;
  position: absolute;
  right: 20px;
  top: 0;
  width: 230px;
  padding: 0 15px;
  overflow: hidden;
  z-index: 99;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .changeDropDownTitle {
  height: 40px;
  font: 16px/30px 'PMSBold';
  color: #000;
  position: relative;
  width: 100%;
  float: left;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .changeDropDownTitle.autoHeight {
  height: auto;
  line-height: 21px;
  margin-bottom: 20px;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .changeDropDownTitle .refreshIco {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .changeDropDownTitle .refreshIco img {
  display: inline-block;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customSuchen {
  height: 47px;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font: 18px/47px 'PMSBold';
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background: #1dbc34;
  float: left;
  margin-bottom: 15px;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .hr {
  width: calc(100% + 30px);
  float: left;
  margin: 20px -15px 15px -15px;
  height: 1px;
  background: #cccccc;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customSelect {
  height: 36px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customSelect select {
  height: 100%;
  width: 100%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background: #ffffff url("../img/filter-arrow-bottom.png") no-repeat center right 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 40px 0 10px;
  font: 16px 'PM';
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customSelect select::-ms-expand {
  display: none;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customInput {
  margin-bottom: 15px;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customInput label {
  float: left;
  width: 100%;
  font: 11px/14px 'PMLight';
  color: #96948d;
}
.contentWrapper .contentTitle .changeRide .changeDropDown .customInput input {
  width: 100%;
  height: 40px;
  font: 14px 'PM';
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #cccccc;
  outline: none;
  padding: 0 10px;
  font-style: italic;
}
.contentWrapper .contentSearchCategory {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #f8f8f8;
  height: 55px;
  float: left;
  width: 100%;
}
.contentWrapper .contentSearchCategory .contentSearchLabel {
  width: 150px;
  float: left;
  text-align: center;
  line-height: 55px;
  color: #000000;
  font: 15px/55px 'PM';
}
.contentWrapper .contentSearchCategory .contentSearchWrapper {
  width: calc(100% - 150px);
  float: left;
  padding: 10px 15px 10px 0;
  position: relative;
}
.contentWrapper .contentSearchCategory .contentSearchWrapper .contentSearchInput {
  width: 100%;
  height: 35px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #c5c5c5;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: #ffffff;
  padding: 0 60px 0 15px;
  font: 13px 'PM';
  outline: none;
}
.contentWrapper .contentSearchCategory .contentSearchWrapper .contentSearchButton {
  position: absolute;
  right: 15px;
  width: 40px;
  top: 10px;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  background: #03be27 url("../img/search-ico.png") no-repeat center center;
  cursor: pointer;
  border: none;
  outline: none;
  height: 35px;
}
.contentWrapper .contentSide {
  padding: 25px 0;
  float: left;
  width: 100%;
  position: relative;
}
.contentWrapper .contentSide .contentSideBarItem {
  height: 34px;
  width: 100%;
  float: left;
  margin-bottom: 3px;
  background: #f8f8f8;
  border: 1px solid #f8f8f8;
  padding: 0 40px 0 15px;
  font: 16px/32px 'PM';
  color: #545454;
  cursor: pointer;
  position: relative;
}
.contentWrapper .contentSide .contentSideBarItem:after {
  content: '\f105';
  font-family: 'FontAwesome';
  color: #04c72c;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-505%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contentWrapper .contentSide .contentSideBarItem.contentSideBarItemSecond:after,
.contentWrapper .contentSide .contentSideBarItem.contentSideBarItemThird:after {
  display: none;
}
.contentWrapper .contentSide .contentSideBarItem .moreBlock {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-505%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #d1d1d1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  height: 15px;
  line-height: 15px;
  font-size: 12px;
  min-width: 15px;
  padding: 0 2px;
  text-align: center;
}
.contentWrapper .contentSide .contentSideBarItem:hover,
.contentWrapper .contentSide .contentSideBarItem.active {
  color: #ffffff;
  background: #04c72c;
}
.contentWrapper .contentSide .contentSideBarItem:hover:after,
.contentWrapper .contentSide .contentSideBarItem.active:after {
  color: #ffffff;
}
.contentWrapper .contentSide .contentSideBarItem:hover:before,
.contentWrapper .contentSide .contentSideBarItem.active:before {
  content: '';
  border: 17px solid transparent;
  position: absolute;
  left: 100%;
  border-left: 8px solid #04c72c;
}
.contentWrapper .contentSide .contentSideBarItem:hover.contentSideBarItemThird:before,
.contentWrapper .contentSide .contentSideBarItem.active.contentSideBarItemThird:before {
  display: none;
}
.contentWrapper .contentSide .contentSideBarItem:hover .moreBlock,
.contentWrapper .contentSide .contentSideBarItem.active .moreBlock {
  background: #11982d;
}
.contentWrapper .contentSide .contentSideBar {
  width: 300px;
  float: left;
  padding: 0 20px;
  position: relative;
}
.contentWrapper .contentSide .contentSideBar:before {
  position: absolute;
  width: 40px;
  height: calc(100% - 6px);
  border: 2px solid #f7d52f;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  content: '';
  right: 0;
  top: 0;
  z-index: -2;
  margin-right: 5px;
}
.contentWrapper .contentSide .contentSideBar:after {
  position: absolute;
  width: 30px;
  height: calc(100% + 6px);
  content: '';
  right: 0;
  top: 0;
  background: #ffffff;
  z-index: -1;
  margin-right: 15px;
}
.contentWrapper .contentSide .contentSideContent {
  width: calc(100% - 300px);
  float: left;
}
.contentWrapper .contentSide .contentSideContent .mainTree {
  float: left;
  width: 100%;
}
.contentWrapper .contentSide .contentSideContent .simpleTree {
  display: none;
}
.contentWrapper .contentSide .contentSideContent .treeBar {
  float: left;
  width: 100%;
  display: none;
  position: relative;
  z-index: 2;
}
.contentWrapper .contentSide .contentSideContent .treeBar .leftTree {
  width: calc(100% - 300px);
  float: left;
}
.contentWrapper .contentSide .contentSideContent .treeBar .rightTree {
  width: 300px;
  float: left;
  padding: 0 20px;
  position: relative;
}
.contentWrapper .contentSide .contentSideContent .contentBar {
  padding: 0 20px;
  border-collapse: collapse;
  position: relative;
  float: left;
  width: 100%;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem {
  width: 33.33333%;
  height: 110px;
  float: left;
  border-bottom: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-collapse: collapse;
  position: relative;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem img {
  top: 35px;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 70px;
  max-width: 90%;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem span {
  font: 16px/18px 'Arial';
  color: #000;
  height: 36px;
  bottom: 4px;
  width: 100%;
  position: absolute;
  text-align: center;
  background: #ffffff;
  z-index: 2;
  overflow: hidden;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem:nth-child(3n + 2) {
  border-left: 1px solid #e5e5e5;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem:nth-child(3) {
  border-left: 1px solid #e5e5e5;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem:nth-child(5) {
  border-top: 1px solid #e5e5e5;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem.contentItemLarge {
  padding: 0 3px 3px 0;
  height: 155px;
  border: none;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem.contentItemLarge .largeItemContent {
  background: #f4f4f4;
  float: left;
  width: 100%;
  height: calc(100% - 40px);
  font: 12px/18px 'Arial';
  color: #000;
  padding: 15px 25px 15px 15px;
  overflow: hidden;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem.contentItemLarge .largeItemTitle {
  background: #f7d52f;
  float: left;
  width: 100%;
  height: 40px;
  font: 20px/40px 'Arial';
  color: #000;
  font-weight: bold;
  text-align: center;
  position: relative;
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem.contentItemLarge .largeItemTitle:before {
  position: absolute;
  border: 20px solid transparent;
  border-right: 20px solid #f7d52f;
  right: 100%;
  top: 0;
  content: '';
}
.contentWrapper .contentSide .contentSideContent .contentBar .contentItem.contentItemTitle {
  height: 45px;
  border-left: 1px solid #e5e5e5;
  width: 66.66666%;
  font: 16px/43px 'Arial';
  color: #000;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.contentWrapper .contentRecommended {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 20px;
  float: left;
  width: 100%;
}
.contentWrapper .contentRecommended .contentRecommendedTitle {
  font: 18px/19px 'PM';
  color: #545454;
  float: left;
  width: 100%;
  text-align: center;
}
.contentWrapper .contentRecommended .contentRecommendedTitle span {
  color: #03be27;
}
.contentWrapper .contentRecommended .contentRecommendedItems {
  float: left;
  width: 100%;
  margin-top: 15px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem {
  float: left;
  width: 25%;
  padding: 0 20px;
  border-left: 1px solid #dddddd;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem:first-child {
  border-left: none;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent {
  float: left;
  width: 50%;
  height: 100px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentLogo {
  float: left;
  width: 100%;
  height: 30px;
  position: relative;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentLogo img {
  max-width: 100%;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  max-height: 30px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentName {
  font: 12px/14px 'PMBold';
  height: 28px;
  overflow: hidden;
  float: left;
  width: 100%;
  color: #545454;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentArt {
  float: left;
  width: 100%;
  font: 12px/14px 'PM';
  color: #545454;
  overflow: hidden;
  height: 14px;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  margin-top: 3px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentPrice {
  float: left;
  width: 100%;
  margin-top: 5px;
  height: 20px;
  color: #ff8827;
  margin-right: 5px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentPrice div {
  display: inline-block;
  vertical-align: top;
  font: 16px/21px 'PMBold';
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentPrice span {
  background: #ff8827;
  display: inline-block;
  vertical-align: top;
  font: 14px/20px 'PMSBold';
  color: #ffffff;
  padding: 0 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  margin-right: 10px;
  position: relative;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemContent .contentRecommendedItemContentPrice span:after {
  content: '';
  border: 10px solid transparent;
  border-top: 20px solid #ff8827;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: -10px;
  z-index: -1;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemImage {
  float: left;
  width: 50%;
  height: 100px;
  position: relative;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemImage img {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy {
  float: left;
  width: 100%;
  height: 30px;
  margin-top: 15px;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuyLink {
  height: 30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: #06c030;
  color: #ffffff;
  text-align: center;
  font: 14px/30px 'PMSBold';
  text-decoration: none;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime {
  padding-left: 30px;
  font: 11px/15px 'PM';
  position: relative;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime strong,
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime b {
  font-family: 'PMBold';
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime.greenText {
  color: #02bd30;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime.redText {
  color: #e30e10;
}
.contentWrapper .contentRecommended .contentRecommendedItems .contentRecommendedItem .contentRecommendedItemBuy .contentRecommendedItemBuySaleTime img {
  left: 15px;
  top: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.contentWrapper .contentParts {
  padding: 15px 0 30px;
  float: left;
  width: 100%;
}
.contentWrapper .contentParts .contentPartsTitle {
  float: left;
  width: 100%;
  color: #545454;
  font: 22px/25px 'PMSBold';
  margin-bottom: 15px;
  text-align: center;
}
.contentWrapper .contentParts .contentPartsSubTitle {
  font: 16px/19px 'PMLight';
  color: #545454;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  float: left;
  width: 100%;
}
.contentWrapper .contentParts .contentPartsSubTitle span {
  display: inline-block;
  position: relative;
}
.contentWrapper .contentParts .contentPartsSubTitle span:after {
  content: '';
  background: url("../img/right-shadow-title.png") no-repeat;
  width: 67px;
  height: 3px;
  position: absolute;
  left: 100%;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.contentWrapper .contentParts .contentPartsSubTitle span:before {
  content: '';
  background: url("../img/right-shadow-title.png") no-repeat;
  width: 67px;
  height: 3px;
  position: absolute;
  right: 100%;
  margin-right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotateZ(-180deg);
  -moz-transform: translateY(-50%) rotateZ(-180deg);
  -ms-transform: translateY(-50%) rotateZ(-180deg);
  -o-transform: translateY(-50%) rotateZ(-180deg);
  transform: translateY(-50%) rotateZ(-180deg);
}
.contentWrapper .contentParts .contentPartsSubTitle img {
  max-width: 19px;
  max-height: 19px;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 5px;
}
.contentWrapper .contentParts .contentPartsItem {
  float: left;
  font: 14px/16px 'PM';
  color: #0052d9;
  text-decoration: none;
}
.contentWrapper .contentParts .contentPartsFourthColumn {
  padding: 0 40px;
  float: left;
  width: 100%;
}
.contentWrapper .contentParts .contentPartsFourthColumn .contentPartsItem {
  width: 25%;
  height: 32px;
  margin-bottom: 10px;
  padding-right: 25px;
}
.contentWrapper .contentParts .contentPartsEightColumn {
  padding: 0 40px;
  float: left;
  width: 100%;
}
.contentWrapper .contentParts .contentPartsEightColumn .contentPartsItem {
  width: 12.5%;
  height: 16px;
  margin-bottom: 5px;
  padding-right: 25px;
}
